<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
      <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/day.jpg" alt="Hot Day" *ngIf="weatherData.main.temp > 15">
    <img src="../assets/night.jpg" alt="Cold Day" *ngIf="weatherData.main.temp <= 15">

    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">{{ weatherData.main.temp | number: '1.0-0'}}°C</div> 
      <!-- alt + 0176 -> degree symbol -->
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/minTemp.png" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_min }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/maxTemp.png" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_max }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.humidity }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.wind.speed }} km/h
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
